BODY
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H1
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H2
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H3
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H4
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H5
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
H6
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
HR
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

DL
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
DT
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
DD
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
UL
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
OL
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
LI
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
BODY
{
    font: 12px/1.5 "ËÎÌå";
    background: #fff;
    color: #666;
}
H1
{
    font-size: 100%;
}
H2
{
    font-size: 100%;
}
H3
{
    font-size: 100%;
}
H4
{
    font-size: 100%;
}
H5
{
    font-size: 100%;
}
H6
{
    font-size: 100%;
}
ADDRESS
{
    font-style: normal;
}
EM
{
    font-style: normal;
}
UL
{
    list-style-type: none;
}
OL
{
    list-style-type: none;
}
/*
A {
	COLOR: #FF3300;
}
A:hover {
	TEXT-DECORATION: none
}*/







.float0831
{
    position: fixed;
    top: 166px;
    right: 1px;
    _position: absolute;
    z-index: 1;
}
.float0831 A
{
    color: #00a0e9;
}
.float0831 A:hover
{
    color: #ff8100;
    text-decoration: none;
}
.float0831 .floatL
{
    position: relative;
    width: 28px;
    float: left;
    z-index: 1;
}
.float0831 .floatL A
{
    text-indent: -9999px;
    display: block;
    font-size: 0px;
}
.float0831 .floatR
{
    background: url(../images/float_bg.gif);
}
.float0831 .tp
{
    background: url(../images/float_bg.gif);
}
.float0831 .cn
{
    background: url(../images/float_bg.gif);
}
.float0831 .floatR
{
    padding-bottom: 15px;
    width: 130px;
    background-repeat: no-repeat;
    background-position: -131px bottom;
    float: left;
    overflow: hidden;
}
.float0831 .tp
{
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 10px;
}
.float0831 .cn
{
    background-repeat: repeat-y;
    background-position: -262px 0px;
}
.float0831 .cn H3
{
    text-indent: -9999px;
    height: 36px;
    font-size: 0px;
}
.float0831 .cn UL
{
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
}
.float0831 .cn UL LI
{
    border-bottom: #e6e5e4 1px solid;
    line-height: 36px;
    word-wrap: break-word;
    height: 36px;
    overflow: hidden;
    word-break: normal;
}
.float0831 .titZx
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .titDh
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .titDc
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .icoZx
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .icoTc
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .icoFf
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .icoTl
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .btnOpen
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .btnOpen_n
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .btnCtn
{
    background: url(../images/float_s.gif) no-repeat;
}
.float0831 .titZx
{
    background-position: 5px -10px;
}
.float0831 .titDh
{
    background-position: 5px -66px;
}
.float0831 .titDc
{
    background-position: 5px -124px;
}
.float0831 .icoZx
{
    background-position: 2px -154px;
}
.float0831 .icoTc
{
    background-position: 0px -323px;
}
.float0831 .icoFf
{
    background-position: 2px -213px;
}
.float0831 .icoTl
{
    padding-left: 20px;
    display: block;
    font-family: "Î¢ÈíÑÅºÚ";
    background-position: 2px -266px;
    float: left;
}
.float0831 .btnOpen
{
    background-position: -30px -396px;
}
.float0831 .btnOpen_n
{
    background-position: 0px -530px;
}
.float0831 .btnCtn
{
    background-position: 0px -396px;
}
.float0831 .icoZx
{
    padding-left: 28px;
    display: block;
    float: left;
}
.float0831 .icoTc
{
    padding-left: 28px;
    display: block;
    float: left;
}
.float0831 .icoFf
{
    padding-left: 28px;
    display: block;
    float: left;
}
.float0831 .btnOpen
{
    position: relative;
    width: 28px;
    height: 118px;
    top: 80px;
    left: 2px;
}
.float0831 .btnOpen_n
{
    position: relative;
    width: 28px;
    height: 118px;
    top: 80px;
    left: 2px;
}
.float0831 .btnCtn
{
    position: relative;
    width: 28px;
    height: 118px;
    top: 80px;
    left: 2px;
}
.float0831 .btnOpen
{
    top: 118px;
    left: 1px;
}
.float0831 .btnOpen_n
{
    top: 118px;
    left: 1px;
}
.float0831 .btnCtn
{
    top: 118px;
    left: 2px;
}
.float0831 UL LI H3.titDc A
{
    width: 80px;
    display: block;
    height: 36px;
}
.float0831 UL LI.top
{
    border-bottom: #ace5f9 1px solid;
}
.float0831 UL LI.bot
{
    border-bottom-style: none;
}
.float0831 UL.webZx
{
    padding-bottom: 0px;
    padding-left: 0px;
    width: 164px;
    padding-right: 0px;
    background: url(../images/webZx_bg.jpg) no-repeat;
    height: 65px;
    padding-top: 0px;
}
.float0831 UL LI.webZx-in
{
    border-bottom-style: none;
    padding-left: 5px;
    height: 50px;
    padding-top: 8px;
}
